$sizes: (0,1,2,3,4,5,6,7);

@each $size in $sizes {
  $spacing: ($size * 0.5) + rem;
  .m-#{$size} {
    margin: $spacing!important;
  }
  .mt-#{$size} {
    margin-top: $spacing!important;
  }
  .mb-#{$size} {
    margin-bottom: $spacing!important;
  }
  .ml-#{$size} {
    margin-left: $spacing!important;
  }
  .mr-#{$size} {
    margin-right: $spacing!important;
  }
  .my-#{$size} {
    margin-top: $spacing!important;
    margin-bottom: $spacing!important;
  }
  .mx-#{$size} {
    margin-left: $spacing!important;
    margin-right: $spacing!important;
  }
  .p-#{$size} {
    padding: $spacing!important;
  }
  .pt-#{$size} {
    padding-top: $spacing!important;
  }
  .pb-#{$size} {
    padding-bottom: $spacing!important;
  }
  .pl-#{$size} {
    padding-left: $spacing!important;
  }
  .pr-#{$size} {
    padding-right: $spacing!important;
  }
  .py-#{$size} {
    padding-top: $spacing!important;
    padding-bottom: $spacing!important;
  }
  .px-#{$size} {
    padding-left: $spacing!important;
    padding-right: $spacing!important;
  }
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
