.level {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.level img {
  display: inline-block;
  vertical-align: top;
}

.level .level-left, .level .level-right {
  display: flex;
}

.level .level-left + .level-right {
  margin-top: 0;
}

.level .level-item:not(:last-child) {
  margin-bottom: 0;
  margin-right: 0.75rem;
}

.level .level-item:not(.is-narrow) {
  flex-grow: 1;
}

.level-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}

.level-item .title, .level-item .subtitle {
  margin-bottom: 0;
}

.level-left, .level-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.level-left .level-item.is-flexible, .level-right .level-item.is-flexible {
  flex-grow: 1;
}

.level-left {
  align-items: center;
  justify-content: flex-start;
}

.level-right {
  align-items: center;
  justify-content: flex-end;
}
