.file-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-upload__dropzone {
    position: relative;
}

.file-upload__dropzone__delete {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 12px;
    transition: color 120ms ease-in-out;
}

.file-upload__dropzone__delete:hover {
    color: var(--red-600);
}
