.select {
    position: relative;
    display: inline-flex;
    max-width: 100%;
}

.select select {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 30px 0 15px;
    height: var(--input-height);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    color: var(--navy-700);

    cursor: pointer;
    text-transform: inherit;
    border: 1px solid transparent;
    border-radius: var(--radius);
    box-shadow: none;

    font-size: 16px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
}

.select::after {
    right: 0.425em;
    z-index: 4;
    content: " ";
    display: block;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid var(--navy-700);
    border-radius: 1px;
    pointer-events: none;
}

.select .label {
    font-size: 16px;
    margin-right: 1rem;
}

/**
  Small size
 */
.select.is-small select {
    font-size: var(--input-font-size);
    height: var(--input-height--small);
    padding-right: 23px;
}

.select.is-small .label {
    font-size: var(--input-font-size);
}

/**
  Large size
 */
.select.is-large select {
    font-size: var(--input-font-size--large);
    height: var(--input-height--large);
    padding: 0 36px 0 18px;
}

.select.is-large .label {
    font-size: var(--input-font-size--large);
}

.select.is-large::after {
    right: 0.825em;
}

/**
  Expanded
 */
.select.is-expanded,
.select.is-expanded select {
    width: 100%;
}

/**
  Transparent
 */
.select.is-transparent select {
    background: transparent;
    padding: 0 15px 0 0;
    height: auto;
}

.select.is-transparent::after {
    right: 0;
}

/**
  Border
 */
.select.has-border select {
    border: 1px solid var(--blue-gray-400);
    border-radius: 6px;
}

/**
  Level
 */
.select.level {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/**
  Disabled
 */
.select select[disabled] {
    background: var(--gray-200);
    cursor: not-allowed;
}

/**
  Placeholder styling value
 */
.select.no-value select {
    color: var(--blue-gray-500);
}

/**
  Dummy select
 */
.select__dummy-wrap {
    display: block;
    height: 0;
}

.select__dummy-wrap__dummy select {
    visibility: hidden !important;
    height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
}

.select__dummy-wrap__dummy::after,
.select__dummy-wrap__dummy::before {
    opacity: 0;
    visibility: hidden;
}
