@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?dego8n') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?dego8n') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?dego8n##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.icon-column {
  &:before {
    content: $icon-column; 
  }
}
.icon-row {
  &:before {
    content: $icon-row; 
  }
}
.icon-desktop {
  &:before {
    content: $icon-desktop; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-tablet {
  &:before {
    content: $icon-tablet; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-bold {
  &:before {
    content: $icon-bold; 
  }
}
.icon-italic {
  &:before {
    content: $icon-italic; 
  }
}
.icon-links {
  &:before {
    content: $icon-links; 
  }
}
.icon-unordered-list {
  &:before {
    content: $icon-unordered-list; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-businesses {
  &:before {
    content: $icon-businesses; 
  }
}
.icon-button {
  &:before {
    content: $icon-button; 
  }
}
.icon-buttonlist {
  &:before {
    content: $icon-buttonlist; 
  }
}
.icon-code {
  &:before {
    content: $icon-code; 
  }
}
.icon-html {
  &:before {
    content: $icon-html; 
  }
}
.icon-contact-form {
  &:before {
    content: $icon-contact-form; 
  }
}
.icon-contactform {
  &:before {
    content: $icon-contactform; 
  }
}
.icon-placecontact {
  &:before {
    content: $icon-placecontact; 
  }
}
.icon-contact-info {
  &:before {
    content: $icon-contact-info; 
  }
}
.icon-container {
  &:before {
    content: $icon-container; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-design {
  &:before {
    content: $icon-design; 
  }
}
.icon-duplicate {
  &:before {
    content: $icon-duplicate; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-eye-hidden {
  &:before {
    content: $icon-eye-hidden; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-socialicons {
  &:before {
    content: $icon-socialicons; 
  }
}
.icon-gallery {
  &:before {
    content: $icon-gallery; 
  }
}
.icon-hamburger {
  &:before {
    content: $icon-hamburger; 
  }
}
.icon-heading {
  &:before {
    content: $icon-heading; 
  }
}
.icon-hidden {
  &:before {
    content: $icon-hidden; 
  }
}
.icon-image {
  &:before {
    content: $icon-image; 
  }
}
.icon-link {
  &:before {
    content: $icon-link; 
  }
}
.icon-log-out {
  &:before {
    content: $icon-log-out; 
  }
}
.icon-map {
  &:before {
    content: $icon-map; 
  }
}
.icon-placemap {
  &:before {
    content: $icon-placemap; 
  }
}
.icon-media-library {
  &:before {
    content: $icon-media-library; 
  }
}
.icon-move {
  &:before {
    content: $icon-move; 
  }
}
.icon-news-feed {
  &:before {
    content: $icon-news-feed; 
  }
}
.icon-posts {
  &:before {
    content: $icon-posts; 
  }
}
.icon-opening-hours {
  &:before {
    content: $icon-opening-hours; 
  }
}
.icon-placeopeninghours {
  &:before {
    content: $icon-placeopeninghours; 
  }
}
.icon-pages {
  &:before {
    content: $icon-pages; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-product-list {
  &:before {
    content: $icon-product-list; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-product-lists {
  &:before {
    content: $icon-product-lists; 
  }
}
.icon-replace {
  &:before {
    content: $icon-replace; 
  }
}
.icon-reservation {
  &:before {
    content: $icon-reservation; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-support {
  &:before {
    content: $icon-support; 
  }
}
.icon-text {
  &:before {
    content: $icon-text; 
  }
}
.icon-twirl-arrow {
  &:before {
    content: $icon-twirl-arrow; 
  }
}
.icon-vego-hamburger {
  &:before {
    content: $icon-vego-hamburger; 
  }
}

