@font-face {
  font-family: 'thatsup-web';
  src:
    url('fonts/thatsup-web.ttf?dego8n') format('truetype'),
    url('fonts/thatsup-web.woff?dego8n') format('woff'),
    url('fonts/thatsup-web.svg?dego8n#thatsup-web') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'thatsup-web' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
  content: "\e930";
}
.icon-column:before {
  content: "\e92e";
}
.icon-row:before {
  content: "\e92f";
}
.icon-desktop:before {
  content: "\e92b";
}
.icon-phone:before {
  content: "\e92c";
}
.icon-tablet:before {
  content: "\e92d";
}
.icon-close:before {
  content: "\e92a";
}
.icon-bold:before {
  content: "\e926";
}
.icon-italic:before {
  content: "\e927";
}
.icon-links:before {
  content: "\e928";
}
.icon-unordered-list:before {
  content: "\e929";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-businesses:before {
  content: "\e901";
}
.icon-button:before {
  content: "\e902";
}
.icon-buttonlist:before {
  content: "\e902";
}
.icon-code:before {
  content: "\e903";
}
.icon-html:before {
  content: "\e903";
}
.icon-contact-form:before {
  content: "\e904";
}
.icon-contactform:before {
  content: "\e904";
}
.icon-placecontact:before {
  content: "\e904";
}
.icon-contact-info:before {
  content: "\e905";
}
.icon-container:before {
  content: "\e906";
}
.icon-delete:before {
  content: "\e907";
}
.icon-trash:before {
  content: "\e907";
}
.icon-design:before {
  content: "\e908";
}
.icon-duplicate:before {
  content: "\e909";
}
.icon-edit:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e90b";
}
.icon-eye-hidden:before {
  content: "\e90c";
}
.icon-eye:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-socialicons:before {
  content: "\e90e";
}
.icon-gallery:before {
  content: "\e90f";
}
.icon-hamburger:before {
  content: "\e910";
}
.icon-heading:before {
  content: "\e911";
}
.icon-hidden:before {
  content: "\e912";
}
.icon-image:before {
  content: "\e913";
}
.icon-link:before {
  content: "\e914";
}
.icon-log-out:before {
  content: "\e915";
}
.icon-map:before {
  content: "\e916";
}
.icon-placemap:before {
  content: "\e916";
}
.icon-media-library:before {
  content: "\e917";
}
.icon-move:before {
  content: "\e918";
}
.icon-news-feed:before {
  content: "\e919";
}
.icon-posts:before {
  content: "\e919";
}
.icon-opening-hours:before {
  content: "\e91a";
}
.icon-placeopeninghours:before {
  content: "\e91a";
}
.icon-pages:before {
  content: "\e91b";
}
.icon-plus:before {
  content: "\e91c";
}
.icon-product-list:before {
  content: "\e91d";
}
.icon-menu:before {
  content: "\e91d";
}
.icon-product-lists:before {
  content: "\e91e";
}
.icon-replace:before {
  content: "\e91f";
}
.icon-reservation:before {
  content: "\e920";
}
.icon-settings:before {
  content: "\e921";
}
.icon-support:before {
  content: "\e922";
}
.icon-text:before {
  content: "\e923";
}
.icon-twirl-arrow:before {
  content: "\e924";
}
.icon-vego-hamburger:before {
  content: "\e925";
}
