$icomoon-font-family: "thatsup-web" !default;
$icomoon-font-path: "fonts" !default;

$icon-upload: "\e930";
$icon-column: "\e92e";
$icon-row: "\e92f";
$icon-desktop: "\e92b";
$icon-phone: "\e92c";
$icon-tablet: "\e92d";
$icon-close: "\e92a";
$icon-bold: "\e926";
$icon-italic: "\e927";
$icon-links: "\e928";
$icon-unordered-list: "\e929";
$icon-arrow-right: "\e900";
$icon-businesses: "\e901";
$icon-button: "\e902";
$icon-buttonlist: "\e902";
$icon-code: "\e903";
$icon-html: "\e903";
$icon-contact-form: "\e904";
$icon-contactform: "\e904";
$icon-placecontact: "\e904";
$icon-contact-info: "\e905";
$icon-container: "\e906";
$icon-delete: "\e907";
$icon-trash: "\e907";
$icon-design: "\e908";
$icon-duplicate: "\e909";
$icon-edit: "\e90a";
$icon-check: "\e90b";
$icon-eye-hidden: "\e90c";
$icon-eye: "\e90d";
$icon-facebook: "\e90e";
$icon-socialicons: "\e90e";
$icon-gallery: "\e90f";
$icon-hamburger: "\e910";
$icon-heading: "\e911";
$icon-hidden: "\e912";
$icon-image: "\e913";
$icon-link: "\e914";
$icon-log-out: "\e915";
$icon-map: "\e916";
$icon-placemap: "\e916";
$icon-media-library: "\e917";
$icon-move: "\e918";
$icon-news-feed: "\e919";
$icon-posts: "\e919";
$icon-opening-hours: "\e91a";
$icon-placeopeninghours: "\e91a";
$icon-pages: "\e91b";
$icon-plus: "\e91c";
$icon-product-list: "\e91d";
$icon-menu: "\e91d";
$icon-product-lists: "\e91e";
$icon-replace: "\e91f";
$icon-reservation: "\e920";
$icon-settings: "\e921";
$icon-support: "\e922";
$icon-text: "\e923";
$icon-twirl-arrow: "\e924";
$icon-vego-hamburger: "\e925";

