.input {
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--radius);
  color: var(--navy-700);
  box-shadow: none;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  justify-content: flex-start;
  line-height: 1.5;
  width: 100%;
  height: 36px;
  padding: 8px 15px;
  position: relative;
  vertical-align: top;
}

.input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input[readonly] {
  color: var(--gray-700);
}

.input[disabled] {
  background: var(--gray-200);
  cursor: not-allowed;
}

.has-error {
  border: 1px solid var(--red-600);
}

.has-border {
  border: 1px solid #e0e7ea;
  border-radius: 6px;
}

.is-narrow {
  width: auto;
}

.is-large {
  padding-bottom: 16px;
  padding-top: 16px;
}

.input::placeholder {
  color: var(--blue-gray-500);
  font-style: italic;
  opacity: 1;
}

.input[type="number"].transparent::-webkit-inner-spin-button,
.input[type="number"].transparent::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"].transparent {
  background: transparent;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  padding: 0 5px;
  height: auto;
  text-align: right;
}
