.is-loading {
    color: transparent !important;
    pointer-events: none;
}

.is-loading:after {
    left: calc(50% - 0.5em);
    animation: spinAround 0.5s infinite linear;
    border: 2px solid transparent;
    border-radius: 290486px;
    border-right-color: #fff;
    border-top-color: #fff;
    content: "";
    display: block;
    height: 1em;
    position: absolute;
    width: 1em;
}

.is-loading:not([class^="color-"]):not([class*=" color-"]):after {
    border-right-color: var(--blue-600);
    border-top-color: var(--blue-600);
}
